	<div class = "col-sm-3">
		<%= image_tag(prod.picture_path, class: 'list_image') %>
	</div>
	<div class = "col-sm-9" align = "left">
		<div>
			<%= link_to(prod.name, "", 'class' => "prod_title", 'data-toggle' => "modal", "data-target" => "#modalID#{prod.id}") %>

			<div class="modal fade" id="modalID<%= prod.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel"><%= prod.name %></h4>
						</div>
						<div class="modal-body">
							<%= image_tag(prod.picture_path, class: 'product_image') %><br/><br/>
							<strong>Name:</strong> <%= prod.name %><br/>
							<strong>Manufacturer:</strong> <%= prod.manufacturer %><br/>
							<strong>Price:</strong> <%= prod.price %><br/>
							<strong>Type:</strong> <%= prod.type %><br/><br/>
							<strong>Description:</strong> <%= prod.description %><br/><br/>
							<%= button_to "Add", {action: "add", controller: "configuration", conf: @conf_objects, add_type: prod.type.downcase, add_id: prod.id}, class: "btn btn-primary"%>
						</div>
					</div>
				</div>
			</div>
		</div>
		by <%= prod.manufacturer %>
		<span class = "prod_price">
			<strong>$<%= "%.2f" % prod.price %></strong>
		</span>

		<br>
		<br>

		<p><strong>Product Features</strong> <br>
			<%= prod.description %>
		</p>
		<span class = "prod_type">
			<%= prod.type %>
		</span>
		<
		<%= link_to("See all 123 items", "") %>

	</div>
