<div class = "col-sm-3">
	<%= image_tag(prod.picture_path, class: 'list_image') %>
</div>
<div class = "col-sm-6" align = "left">
	<%= render 'shared/modal_details', prod: prod %>
	by <%= prod.manufacturer %>
	<span class = "prod_price">
		<strong>$<%= "%.2f" % prod.price %></strong>
	</span>

	<br>
	<br>

	<p><strong>Product Features</strong> <br>
		<%= prod.description %>
	</p>
	<span class = "prod_type">
		<%= prod.type %>
	</span>
	<
	<%= link_to("See all 123 items", "") %>

</div>
