<%= render 'shared/modal_details', prod: prod %>
<div class = "details">
	<p>
		<%= link_to(prod.name, {controller: "product", action: "show", id: prod.id}, class: "prod_title") %><br>		
		by <%= prod.manufacturer %>
		<span class = "prod_price">
			<strong>$<%= "%.2f" % prod.price unless prod.price.blank? %></strong><br/>
		</span>
		<%= render 'ratings/average_star', prod: prod, view: "product_list" %>
	</p>

	<p><strong>Product Features</strong> <br>
		<%= truncate(prod.description, length: 200, separator: ' ') %>
	</p>
	<span class = "prod_type">
		<%= prod.type %>:
	</span>
	<%= link_to("See all " + prod.class.count.to_s + " items", {action: "list",
		controller: "product_list", conf: @conf_objects, type: prod.class}, class: "prod_all_items") %>
</div>