<span id="star<%= prod.id %><%= view%>"></span>
<%= render 'ratings/rating_count', prod: prod %>
<script>
$('#star<%= prod.id %><%= view%>').raty({
	readOnly: true,
	score: <%= prod.average_rating %>,
	path: '/assets'
});
</script>