<h1>Listing config_controllers</h1>

<table>
  <thead>
    <tr>
      <th>Show</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @config_controllers.each do |config_controller| %>
      <tr>
        <td><%= config_controller.show %></td>
        <td><%= link_to 'Show', config_controller %></td>
        <td><%= link_to 'Edit', edit_config_controller_path(config_controller) %></td>
        <td><%= link_to 'Destroy', config_controller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Config controller', new_config_controller_path %>
