<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @config_controller.show %>
  <%= #if @comp_checker.conflicts?(:kit) %>
  
</p>

<%= link_to 'Edit', edit_config_controller_path(@config_controller) %> |
<%= link_to 'Back', config_controllers_path %>
