<h1><%= @product.name %></h1>
<p>
	<strong>Name:</strong> <%= @product.name %><br/>
	<strong>Type:</strong> <%= @product.type %><br/>
</p>
<strong>Description:</strong> 
<p><%= @product.description %></p>

<p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><strong>CLICK HERE for a PICTURE</strong></a></p>

<div id="light" class="white_content"><%= image_tag(@product.picture_path, class: 'list_image') %></div>
<div id="fade" class="black_overlay" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"></div>
