<div class = "container">

	<%= stylesheet_link_tag "product_list_entry" %>
	<div class = "col-xs-2 left_filters">
		<div class = "row filter_indent compatibility_filt">
			<dl>
				<dt>Compatibility<%= compat_filter_clear_button() %></dt>
				<dd>with <a href="/configuration">My Kit</a></dd>
				<%= compat_filter("Works Well", CompatPair::WORKS_WELL) %>
				<%= compat_filter("Works Badly", CompatPair::WORKS_BADLY) %>
				<%= compat_filter("Incompatible", CompatPair::INCOMPATIBLE) %>
			</dl>
		</div>
		<div class = "row filter_indent">
			<dl>
				<dt>Product Type<%= type_filter_clear_button() %></dt>
				<% Product::ALL_TYPES.each do |type| %>
				<dd><%= type_filter(type) %></dd>
				<% end %>
			</dl>
		</div>
		<div class = "row filter_indent last">
			<dl>
				<dt>Manufacturers<%= manu_filter_clear_button() %></dt>
				<% @manu_facets.each do |manu_facet| %>
				<dd><%= manu_filter(manu_facet) %></dd>
				<% end %>
			</dl>
		</div>
	</div>

	<div class = "col-xs-10 product_listing">
		<h1 class = "left"><%= @title %></h1><br/>
		<% unless @query.blank? %>
		<span class = "query">for <b><%= @query %></b>
			in <b><%= @searched_in %></b>
		</span>
		<% end %>
		<div class = "left">
			<%= paginate @prods %>
		</div>

		<% @prods.each do |prod| %>
		<div class = "row">
			<div class = "col-xs-12 col-sm-12  col-md-10">
				<%= render 'shared/product_list_entry', prod: prod %>
			</div>
			<div class = "col-xs-12 col-sm-12  col-md-2">
				<% if prod.type != "Juice" %>
				<%= render 'shared/add_product_button', prod: prod %>
				<% end %>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-12">
				<hr>
			</div>
		</div>
		<% end %>
		<div class = "left">
			<%= paginate @prods %>
		</div>
	</div>
</div>