<%= stylesheet_link_tag "product_list_entry" %>

<h1 class = "left">All <%= @part_type.capitalize.pluralize %></h1>
<br/>
<%= paginate @prods %>
<div class = "container-fluid center">
	<% @prods.each do |prod| %>
	<div class = "row">
		<div class = "col-sm-11">
			<%= render 'shared/product_list_entry', prod: prod %>
		</div>
		<div class = "col-sm-1">
			<%= render 'shared/add_product_button', prod: prod %>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-12">
			<hr>
		</div>
	</div>
	<% end %>
</div>