<h1 class = "center">Configuration</h1>
<br />
<div class = "center">
	<span id="parts-list">
		<table>
			<% @partslist.each do |part_type| %>
			<% present = !@conf_objects[part_type].nil? %>
			<tr>
				<td><%= part_type.capitalize %>:</td>
				<td><% if present %><%= @conf_objects[part_type].name %><% end %></td>
				<td>
					<% if present %>
					<% @add_or_change = "Change" %>
					<%= button_to "Remove", {action: "remove", controller: "configuration", remove: part_type, conf: @conf_objects}, class: "btn btn-primary"%>
					<% else %>
					<% @add_or_change = "Add" %>
					<% end %>
				</td>
				<td>
					<%= button_to @add_or_change, {action: "list", controller: "product_list", conf: @conf_objects}, class: "btn btn-primary"%>
				</td>
			</tr>
				<% if present %>
					<% if @checker.compat_conflicts(part_type.to_sym).any? %>
					<tr>
						<td colspan="5">
							<% @checker.compat_conflicts(part_type.to_sym).each do |message| %>
								<%= message %><br />
							<% end %>
						</td>
					</tr>
					<% end %>
					<% if @checker.works_badly_conflicts(part_type.to_sym).any? %>
					<tr>
						<td colspan="5">
							<% @checker.works_badly_conflicts(part_type.to_sym).each do |message| %>
								<%= message %><br />
							<% end %>
						</td>
					</tr>
					<% end %>
					<% if @checker.works_badly_conflicts(part_type.to_sym).empty? && @checker.compat_conflicts(part_type.to_sym).empty? %>
					<tr>
						<td colspan="5">
							No conflicts!<br />
						</td>
					</tr>
					<% end %>
				<% end %>
			<% end %>
		</table>
	</span>
	<%= button_to "Clear", "configuration/clear", method: :get, class: "btn btn-primary", confirm: "Are you sure you want to clear all products?"%>
</div>
<br><br>
<br>
<%= flash %>
<%= @kit_obj.to_url %>