<h1 class = "center">Configuration</h1>
<br />
<div class = "center">
	<span id="parts-list">
		<h3>
			<table>
				<% @partslist.each do |part| %>
				<tr>
					<td><%= part.capitalize %>:</td>
					<td><%= @kit[part] %></td>
					<td>
						<% if !@kit[part].nil? %>
							<% @add_or_change = "Change" %>
							<%= button_to "Remove", "/configuration" + create_kit_url(params["kit"],part), :method => :post, :class => "btn btn-primary"%>
						<% else %>
							<% @add_or_change = "Add" %>
						<% end %>
					</td>
					<td>
						<%= button_to @add_or_change, "/configuration" + create_kit_url(params["kit"]), :method => :post, :class => "btn btn-primary"%>
					</td>
				</tr>
				<% end %>
			</table>
		</h3>
	</span>
</div>
<%= @newprod %>
