<h1 class = "center">Configuration</h1>
<br />
<div class = "center">
	<span id="parts-list">
		<h3>
			<table>
				<% @partslist.each do |part| %>
				<tr>
					<td><%= part.capitalize %>:</td>
					<td><%= @conf[part] %></td>
					<td>
						<% if !@conf[part].nil? %>
							<% @add_or_change = "Change" %>
							<%= button_to "Remove", {action: "remove", controller: "configuration", remove: part}, class: "btn btn-primary"%>
						<% else %>
							<% @add_or_change = "Add" %>
						<% end %>
					</td>
					<td>
						<%= button_to @add_or_change, {action: "add", controller: "configuration", data: "blahblah"}, class: "btn btn-primary"%>
					</td>
				</tr>
				<% end %>
			</table>
		</h3>
	</span>
</div>
<%= params %>
<br><br>
<%= @newprod %>
