<div class = "container">
	<div class = "row nav-bar">
		<div class = "col-xs-12">
			<a class="logo" href="/">VapeRater</a>

			<span class="user-search-nav">
				<span>
					<span class="user-item">
						<% if user_signed_in? %>

						<%= image_tag gravatar_url(current_user, 48)%>
						<% end %>

					</span>
					<%= render 'shared/login_items' %>
					<%= render 'shared/registration_items' %>
					<%= link_to @my_config_label, {action: "index", controller: "/configuration"}, class: "user-item" %>


					<br />
				</span>


				<span class = "search-bar">
					<%= form_tag works_well_list_url, method: "get", class: "" do %>
					<%= text_field_tag :query, @query, class: "form-control search-bar search-field", placeholder: "Search" %>
					<%= submit_tag "GO", class: "btn btn-primary search-bar", role: "button" %>
					<% end %>
				</span>
			</span>

		</div>
	</div>
	<br />

	<div class = "row link-bar">
		<div class = "col-md-2 col-sm-4 col-xs-6">
			<a class="nav-button" href="/">Home</a>
		</div>

		<div class = "col-md-2 col-sm-4 col-xs-6">
			<a class="nav-button" href="/configuration">Configurator</a>
		</div>

		<div class = "col-md-2 col-sm-4 col-xs-6">
			<a class="nav-button" href="/science">Science</a>
		</div>

		<div class = "col-md-2 col-sm-4 col-xs-6">
			<a class="nav-button" href="/product_list/list">Products</a>
		</div>

		<div class = "col-md-2 col-sm-4 col-xs-6">
			<a class="nav-button" href="/news">News</a>
		</div>

		<div class = "col-md-2 col-sm-4 col-xs-6">
			<a class="nav-button" href="/about">About</a>
		</div>


	</div>

</div>